
# Mac dev only — do not deploy to RHEL/production servers
docker-compose.override.yml

.env
*.log

jenkins_home/
jenkins-home/
jenkins_home copy/log.properties
z_backup/
neo4j/docker-compose.override.yml
apache-php/src/gnparser
jenkins/src/gnparser
neo4j_standalone/docker-compose.override.yml
.env.development
.env.production
.env.production z
.env.development z
readmeli.txt
readmeli_main.txt
mysql/x eol_development.sql
mysql/x eol_production.sql
apache-php/src/list_old.php
jenkins/Dockerfile Aug7
README old.md
.DS_Store
