
.env
*.log

jenkins_home/
jenkins-home/
jenkins_home copy/log.properties
z_backup/
neo4j/docker-compose.override.yml
apache-php/src/gnparser
jenkins/src/gnparser
neo4j_standalone/docker-compose.override.yml
